.mapimage {
  background-image: url("../images/map.png");
  background-size: cover;
  width: 100vw;
  height: 50vh;
}

body {
	background: #ececec;
}

form {
	width: 50vw;
	margin: 0 auto;
	padding: 100px 0;
	background: #fff;
	box-shadow: grey 10px 10px 15px;
}

.inner-form {
	margin: 0 auto;
	text-align: center;
}

.appointments-form-wrapper {
	padding: 100px;
}
